.xspTextComputedField{
	white-space: normal !important;
}
#formholder textarea {
	height: 300px;
	overflow-y: visible;
}

@media screen and (min-width: 1001px) {
	.pullleft {
		margin-left: -40% !important;
	}
}